:root{
    --color-bg: rgba(0,0,0,0);
    --color-bg1:#24547f;
    --color-bg2:#463b75;
    --color-bg3:#d9996b;
    --color-bg4:#86506c;
    --color-bg5:#206a54;
    --color-bg6:#779273;
    --color-bg7:#e48f92;
    --color-bg8:#6dbcc5;
}
@keyframes Start {
    0% {
        visibility: hidden
    }

    to {
        visibility: visible
    }
}

@keyframes Preloader {
    to {
        transform: rotate(360deg)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes Blur {
    0% {
        filter: none
    }

    to {
        filter: blur(10px)
    }
}

@keyframes StrokeAni {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes DrawStroke {
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 800
    }
}

@keyframes ScrollStroke {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0)
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0)
    }
}

@keyframes fadeGoleft{
    0%,to{
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes fadeGoRight{
    0%,to{
        opacity: 0;
        transform: translate3d(-100%,0,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes outLeft {
    0% {
        opacity: 1;
        transform: translate3d(0,0,0)
    }

    to {
        opacity: 0;
        transform: translate3d(100%,0,0)
    }
}

@keyframes outTop {
    0% {
        opacity: 1;
        transform: translate3d(0,0,0)
    }

    to {
        opacity: 0;
        transform: translate3d(0,-100%,0)
    }
}

@keyframes flipInY {
    0% {
        transform: scale(2);
        filter: blur(10px);
        opacity: 0
    }

    to {
        transform: scale(1);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes goRight {
    from {
        opacity: 0;
        margin-right: -300px
    }

    to {
        opacity: 1;
        margin-right: 0
    }
}

@keyframes goLeft {
    0% {
        opacity: 0;
        margin-left: -300px
    }

    to {
        opacity: 1;
        margin-left: 0
    }
}
@keyframes Bg-ZoomIn {
    0%,to {
        transform: scale3d(1,1,1);
    }

    50% {
        transform: scale3d(1.2,1.5,1.2);
    }
}
@keyframes showSVG {
    0% {
        transform: scale(1.2);
        filter: blur(10px);
        opacity: 0;
    }

    to {
        transform: none;
        filter: none;
        opacity: 1
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
html{
    font-size: 16px;
    animation-name:FadeIn;
    animation-duration: 5s;
} 
html{
    animation-name: FadeOut;
    animation: 1s;
    animation-delay: 5s;
}
body,html{
    animation-name: Start;
    animation-duration:.1s;
}

.page-home{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.background{
    position:absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    overflow: hidden;
    
}
.banner-full-slide{
 
    width: 100vw;
    height: 100vh;
    min-height: 80vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    padding: 0;
    background: var(--color-bg);
    transition: background-color .5s linear;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
} 
.banner-slide{
    display: flex;
    grid-area: 1/1/2/2;
    opacity: 0;
    pointer-events: none;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.slide-current {
    opacity: 1;
    pointer-events: auto
}
.pic-img.show {
    box-shadow: 30px 20px 40px 0 rgba(0,0,0,.1);
    transition: box-shadow .3s ease
}
.bg-line{
    background-position: center;
    /* background-origin:; */
    background-size:cover;
    animation-name:Bg-ZoomIn;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-timing-function: linear;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

    
}
.banner-slide:nth-child(1) .bg-line{
    background-image:url(/asset/Svg/p1b.svg) ;
    /* background-color: var(--color-bg1); */
}
.banner-slide:nth-child(2) .bg-line{
    background-image: url(/asset/Svg/p2b.svg);
    /* background-color: var(--color-bg2) */
}
.banner-slide:nth-child(3) .bg-line{
    background-image: url(/asset/Svg/p3b.svg);
    /* background-color: var(--color-bg3) */
}
.banner-slide:nth-child(4) .bg-line{
    background-image: url(/asset/Svg/p4b.svg);
    /* background-color: var(--color-bg4) */
}
.banner-slide:nth-child(5) .bg-line{
    background-image: url(/asset/Svg/p5b.svg);
    /* background-color: var(--color-bg5) */
}
.banner-slide:nth-child(6) .bg-line{
    background-image: url(/asset/Svg/p6b.svg);
    /* background-color: var(--color-bg6) */
}
.banner-slide:nth-child(7) .bg-line{
    background-image: url(/asset/Svg/p7b.svg);
    /* background-color: var(--color-bg7) */
}
.banner-slide:nth-child(8) .bg-line{
    background-image: url(/asset/Svg/p8b.svg);
    /* background-color: var(--color-bg8) */
}
.slide-img-wrap {
    width: 90%;
    max-width: 90vw;
    height: 100%;
    max-height: 60vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    transform: rotate(-25deg);
    transform-origin: 50% 50%;
    
}
.pic-img,.slide-img {
    flex: none;
    display: block;
    position: relative;
    border-radius: 15px
}

.slide-img {
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    object-position: center center;
    width: 100%
}

.pic-img {
    float: left;
    width: auto;
    height: 25vw;
    overflow: hidden;
 
}
.slide-img-1,.slide-img-4 {
    width: calc(700/800*25vw);
    max-width: 655px;
}
.slide-img-2,.slide-img-3 {
    width: calc(1500/800*25vw);
    max-width: 1404px
}
.slide-img-2,.slide-img-4{
    animation:fadeGoleft .4s linear forwards 
}
.slide-img-1,.slide-img-3 {
    margin-right: 1px;
    animation:fadeGoRight .4s linear forwards
}

.slide-img-1,.slide-img-2 {
    margin-bottom: 1px
}

.slide-img-2 {
    align-self: flex-end
}

.slide-img-3 {
    align-self: flex-start
}

.break {
    flex-basis: 100%;
    height: 0
}
.nav-click {
    position: fixed;
    top: 7px;
    right: 30px;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    display: none;
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: 3500;
}
.nav-click::before {
    transform: translate3d(0,-10px,0) scale3d(.8,1,1);
}

.nav-click::after, .nav-click::before {
    content: '';
    pointer-events: none;
    transform-origin: 50% 50%;
    top: 50%;
    width: 70%;
}
.nav-click .line, .nav-click::after, .nav-click::before {
    background-color: currentColor;
    box-shadow: 3px 3px 0 rgb(0 0 0 / 10%);
    position: absolute;
    left: 0;
    height: 2px;
    transition: all .3s ease-in-out;
    z-index: 2;
}
.nav-click .block {
    width: 140%;
    height: 120%;
    position: absolute;
    left: -20%;
    top: -10%;
    background-color: transparent;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    z-index: 1;
}
.nav-click .line {
    top: 25px;
    width: 100%;
}
.nav-click .line, .nav-click::after, .nav-click::before {
    background-color: currentColor;
    box-shadow: 3px 3px 0 rgb(0 0 0 / 10%);
    position: absolute;
    left: 0;
    height: 2px;
    transition: all .3s ease-in-out;
    z-index: 2;
}
.nav-click::after {
    transform: translate3d(0,10px,0) scale3d(.8,1,1);
}
.nav-click::after, .nav-click::before {
    content: '';
    pointer-events: none;
    transform-origin: 50% 50%;
    top: 50%;
    width: 70%;
}
.nav-click .line, .nav-click::after, .nav-click::before {
    background-color: currentColor;
    box-shadow: 3px 3px 0 rgb(0 0 0 / 10%);
    position: absolute;
    left: 0;
    height: 2px;
    transition: all .3s ease-in-out;
    z-index: 2;
}